<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/31a60a88-4d0c-4db0-8b8b-9771006834db/resourceGroups/iconnio/providers/Microsoft.Web/sites/iconnio-pms</ResourceId>
    <ResourceGroup>iconnio</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://iconnio-pms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>21445785-ca9f-4e80-9a01-411eeacf3e6f</ProjectGuid>
    <PublishUrl>https://iconnio-pms.scm.azurewebsites.net/</PublishUrl>
    <UserName>$iconnio-pms</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>